/*------------------------------------*\
    #SEARCH-AUTOCOMPLETE
\*------------------------------------*/

$search-autocomplete-bg-color: $background-color !default;
$search-autocomplete-border: 1px solid $black !default;

$search-autocomplete-z-indexes: ();
@each $name in $page-container {
    $search-autocomplete-z-indexes: append($search-autocomplete-z-indexes, $name);

    @if $name == page-header {
        $search-autocomplete-z-indexes: append($search-autocomplete-z-indexes, search-autocomplete);
    }
}

.search-autocomplete {
    display: block;
    background: $search-autocomplete-bg-color;
    border: $search-autocomplete-border;
    padding: $spacing-unit;

    @include respond-to($medium-breakpoint) {
        width: 90vw;
    }

    @include respond-to($x-wide-breakpoint) {
        width: 1050px;
    }
}

.search-autocomplete--visible {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: index($search-autocomplete-z-indexes, search-autocomplete);

    @include respond-to($medium-breakpoint) {
        left: auto;
    }
}

    .search-autocomplete__heading {}

    .search-autocomplete__heading--centered-at-small {
        @include respond-to($small-breakpoint) {
            text-align: center;
            display: block;
        }

        @include respond-to($medium-breakpoint) {
            text-align: left;
            display: inline;
        }
    }

    .search-autocomplete__products {
        text-align: left;
    }


    .search-autocomplete__searches {
        @include respond-to($small-breakpoint) {
            text-align: center;
        }

        @include respond-to($medium-breakpoint) {
            text-align: right;
        }
    }

        .search-autocomplete__searches-list {
            @extend %list-reset;
        }

        .search-autocomplete__searches-item {}

            .search-autocomplete__searches-link {}
