.grid.grid--rev
  .grid__cell.grid__cell--25
    %ul.search-autocomplete__searches
      - @autocomplete.searches.each do |search|
        %li.search-autocomplete__searches-item
          = link_to search, search_path(q: search), class: 'search-autocomplete__searches-link'
  .grid__cell.grid__cell--75
    .search-autocomplete__products
      %span.search-autocomplete__heading= t('workarea.storefront.search_autocomplete.products_heading', term: @autocomplete.searches.first)
      .grid
        - @autocomplete.products.each do |product|
          .grid__cell.grid__cell--25
            .product-summary
              = render 'workarea/storefront/products/summary', product: product

